.footer-style {
    background-image: linear-gradient( #000000, #000, #000);
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-style div {
    margin-right: 20px;
    margin-left: 20px;
}

.footer-style .gmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer-style .gmail img {
    transition: 0.7s;
    cursor: pointer;
}

.footer-style .gmail img:hover {
    transform: rotate(-360deg);
}

@media screen and (max-width: 700px) {
    .footer-style {
        font-size: 6px;
        line-height: 8px;
        white-space: nowrap;
    }
    .footer-style div {
        margin-left: 10px;
        margin-right: 0px;
    }
    .footer-style .gmail {
        gap: 10px;
        margin-right: 10px;
    }
    .footer-style .gmail img {
        width: 40px;
    }
}