.footer-style {
    background: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-style div {
    margin-right: 20px;
    margin-left: 20px;
}

.footer-style .gmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer-style .gmail img {
    transition: 0.7s;
    cursor: pointer;
}

.footer-style .gmail img:hover {
    transform: rotate(-360deg);
}

@media screen and (max-width: 700px) {
    .footer-style {
        font-size: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-style div {
        padding-left: 0px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .footer-style .gmail {
        gap: 10px;
        line-height: 8px;
    }
    
    .footer-style .gmail img {
        width: 32px;
    }
}