main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-style {
    background-color: #2D3436;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-style .part-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.part-1 .center {
    margin-right: 5px
}

.center p {
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 0px #000;
}

.center h1 {
    font-size: 120px;
    font-family: "Francois One", sans-serif;
    text-shadow: 4px 4px 0px #000;
    line-height: 120px;
}

.part-1 .links {
    display: flex;
    flex-direction: column;
}

.links #profile {
    border: 4px solid #000;
    box-shadow: 5px 5px 4px #000;
}

.links .nav-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.nav-links img {
    box-shadow: 4px 4px 2px black;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.nav-links img:hover {
    transform: scale(1.08);
}

.home-style .part-2 {
    margin-left: 155px;
}

.part-2 p {
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
    line-height: 25px;
    text-shadow: 2px 2px 0px #000;
}


@media screen and (max-width: 700px) {
    .home-style .part-1 {
        display: flex;
        flex-direction: column;
    }

    .part-1 .center {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        margin-bottom: 125px;
    }

    .center p {
        font-size: 14px;
    }

    .center h1 {
        font-size: 70px;
        line-height: 65px;
    }

    .part-1 .links #profile {
        display: none;
    }

    .links .nav-links {
        gap: 50px;
        margin-bottom: 25px;
    }

    .nav-links img {
        width: 60px;
        box-shadow: 4px 4px 2px black;
    }

    .home-style .part-2 {
        margin-left: 0px;
    }

    .part-2 p {
        font-size: 11px;
        line-height: 14px;
    }
}