.projects-style {
    background-image: linear-gradient(212deg, #000, #2D3436, #2D3436, #2D3436, #000);
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 0px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.projects-style h1 {
    font-size: 40px;
    text-shadow: 4px 4px 0px #000;
}

.projects-style .project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-style .project .part1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 100px;
}

.projects-style .project .part1 .informa-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.projects-style .project .part1 .informa-p p {
    font-size: 24px;
}

.projects-style .project .part1 .informa-p div {
    display: flex;
    gap: 25px;
}

.projects-style .project .part1 .projetos-tela img {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.projects-style .project .part1 .projetos-tela img:hover{
    transform: scale(1.05);
}


.projects-style .project .part2 p {
    line-height: 22px; 
    font-size: 20px;
}


.projects-style .github {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.projects-style .github img {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.projects-style .github img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 700px) {
    .projects-style {
        padding-top: 80px;
    }
    .projects-style h1 {
        font-size: 35px;
    }

    .projects-style .project .part1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 45px;
    }

    .projects-style .project .part1 .informa-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .projects-style .project .part1 .informa-p p {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .projects-style .project .part1 #tela-note {
        width: 250px;
    }

    .projects-style .project .part1 #tela-cll {
        width: 90px;
        padding-right: 25px
    }

    .projects-style .project .part2 {
        padding: 0px 15px 0px 15px
    }

    .projects-style .project .part2 p {
        font-size: 10px;
    }    

    .projects-style .github {
        gap: 12px;
    }

    .projects-style .github p {
        font-size: 8px;      
        white-space: nowrap;
    }

    .projects-style .github img {
        width: 60px;
    }
}