.projects-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    background-color: #102c41;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 0px #000;
}

.projects-style h1 {
    font-size: 40px;
    text-shadow: 4px 4px 0px #000;
}

.projects-style .project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project .presentation-site {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 60px;
    gap: 50px;
}

.presentation-site .title-languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title-languages h2 {
    font-size: 22px;
}

.title-languages .nav-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-icons img {
    transition: transform 200ms ease-in-out;
}

.nav-icons img:hover {
    transform: scale(1.08);
}

.link-screen img {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.link-screen img:hover{
    transform: scale(1.08);
}

.info-site {
    padding-bottom: 50px;
}

.info-site p {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.github {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.github img {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.github img:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 700px) {
    .projects-style {
        padding-top: 90px;
    }

    .projects-style h1 {
        font-size: 35px;
    }

    .project .presentation-site {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 160px;
        padding-bottom: 30px;
    }

    .title-languages h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .nav-icons img {
        transition: none;
    }
    
    .nav-icons img:hover {
        transform: none;
    }
    
    .link-screen img {
        width: 280px;
        transition: none;
    }

    .link-screen img:hover {
        transform: none;
    }

    .info-site {
        padding: 0px 25px 0px 25px
    }

    .info-site p {
        font-size: 10px;
        line-height: 19px;
    }    

    .github {
        gap: 10px;
    }

    .github h3 {
        font-size: 8px;
    }

    .github img {
        width: 60px;
        transition: none;
    }

    .github img:hover {
        transform: none;
    }
}