.sobre-style {
    background-image: linear-gradient(160deg, #000, #271919, #271919, #271919, #000);
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    text-shadow: 2px 2px 0px #000;
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-style h1 {
    font-size: 40px;
    text-shadow: 4px 4px 0px #000;
    padding-bottom: 100px;
}

.sobre-style section .conhecimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.sobre-style section .conhecimentos h2{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.sobre-style section .images-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.sobre-style section .images-lang img {
    width: 45px;
    height: 45px;
    transition: transform 200ms ease-in-out;
}

.sobre-style section .images-lang img:hover {
    transform: scale(1.2);
}

.sobre-style .informações {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 80px;
    font-size: 14px;
    line-height: 20px;
}

.sobre-style .informações img {
    border: 4px solid #000;
    box-shadow: 4px 4px 2px #000;
}

@media screen and (max-width: 700px) {
    .sobre-style {
        padding-top: 80px;
    }

    .sobre-style h1 {
        font-size: 35px;
        padding-bottom: 45px;
    }

    .sobre-style section .conhecimentos h2 {
        font-size: 16px;
    }

    .sobre-style section .conhecimentos img {
        width: 35px;
    }
    
    .sobre-style .informações {
        margin-top: 50px;
        padding: 10px;
        font-size: 8px;
        line-height: 9px;
        gap: 5px;
        padding-bottom: 50px;
    }

    .sobre-style .informações img {
        width: 180px;
    }
}