.splash {    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0e0d0ddc;
    color: white;
    z-index: -1;
    text-align: center;
    line-height: 90vh;
    opacity: 0;
    transition: opacity 0.5s, z-index 0.5s;
}

.splash.display-block {
    opacity: 1;
    z-index: 1;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.splash h1 {  
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.splash h2 {
    font-size: 30px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}